* {
  box-sizing: border-box;
}



.pet-name button {
  float: center;
  font-size: 12px;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1e2835;
  border-color: #f1f1f1;
  color: gold;
}

.pet-image {
  height: 15vh;
  position: relative;
}

.game-dasboard {
  float: center;
  padding: 0;
}



.buttons-container {
  margin-top: 20px;
}

.buttons-container button {
  width: 100px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  background-color: #1e2835;
  border-color: #f1f1f1;
  color: gold;
}